<template>
  <div class="recommendations">

    <form v-on:submit="submitApiKey">
      <input type="text" v-model="apiKey" placeholder="Product Name">
      <button type="submit" class="btn">Submit</button>
    </form>

    <x-utu-root  source-uuid="user-1" target-type="provider" ref="utu-root">
      <ul>
        <li class="offer" v-for="offer in OFFERS" :key="offer">
          <div>{{ offer.name }}</div>
          <x-utu-recommendation target-uuid="provider-2"></x-utu-recommendation>
          <br/><br/><br/><br/>
          <x-utu-feedback-details-popup target-uuid="provider-2"></x-utu-feedback-details-popup>
          <x-utu-feedback-form-popup source-uuid="user-1" target-uuid="provider-2"
                                     transaction-id="provider-2">
          </x-utu-feedback-form-popup>
        </li>
      </ul>
    </x-utu-root>
  </div>
</template>

<style>

.offer {
  display: inline-block;
  padding: 10px;
}

input[type=text] {
  margin-right: 2rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 221, 51, 0.15);
  padding: 16px;
  border-left: 30px;
  width: 500px;
  font-weight: 300;
}

</style>

<script>
import '@ututrust/web-components';
import {getToken} from "utu-sdk-example-common/";

export default {
  name: "Recommendations",
  data() {
    return {
      apiKey: "",
      OFFERS: [
        {
          name: "Paul",
          id: "provider-1"
        },
        {
          name: "Jane",
          id: "provider-2"
        },
        {
          name: "Ali",
          id: "provider-3"
        }
      ]
    }
  },
  methods: {
    submitApiKey: function (e) {
      e.preventDefault()
      console.log(this.apiKey)
      let api = this.apiKey;
      getToken(api, "user-1").then(token => {
        window.dispatchEvent(new CustomEvent("utuIdentityDataReady", {detail: token}));
      });

    }
  }
};
</script>

