<template>
  <Recommendations />
</template>

<script>
import Recommendations from './components/Recommendations.vue'

export default {
  name: 'App',
  components: {
    Recommendations
  }
}
</script>
